.main {
    margin-top: 2.8rem;

    h2, h1 {
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.4rem;
        color: $gray;
    }

    .main-content, .main-content__wireless {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        row-gap: 3.3rem;
        column-gap: 3rem;
    }
}