<header>
    <div class="header-content">
        <a href="#" class="header-content__logo">
            <svg>
                <use href="#logo"></use>
            </svg>
        </a>

        <div class="header-content__btnContainer">
            <button class="header-content__heart">
                <svg>
                    <use href="#heart"></use>
                </svg>

                <span>
                    2
                </span>
            </button>

            <button class="header-content__basket">
                <svg>
                    <use href="#basket"></use>
                </svg>

                <span></span>
            </button>
        </div>
    </div>
</header>